<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <div class="container">
      <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
            
        </i>
        <strong style="font-size: 30px;">CarvajalCart</strong>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" (keyup)="search($event)" type="search" placeholder="Buscar producto">
        </div>


    </div>
    <button routerLink="cart" class="btn btn-info">
        <i style="font-size: 30px;" class="fas fa-heart"></i>
        <div style="font-size: 10px;" class="badge bg-danger"*ngIf="totalItem>0">{{totalItem}}</div>
    </button>
    </div>
  </nav>


